<h1>AdPeople TrackIT</h1>
<p>Beta version!</p>

<p>Currently implemented features:</p>
<ul>
    <li>Import LanDesk CSV for workstations</li>
    <li>Manual create/edit workstations</li>
    <li>Filter workstation list by OS or device model</li>
</ul>
